<h1>Rock Paper Scissors Game Rules</h1>

<p>Rock paper scissors is a 2 player game. Each player selects either rock, paper or scissors. If both players select
the same thing, its a draw. One player is the winner based on the following rules:</p>
<ul>
  <li>Rock beats scissors (the rock blunts the scissors)</li>
  <li>Scissors beats paper (the scissors cut the paper)</li>
  <li>Paper beats rock (the paper covers the rock)</li>
</ul>
<p>To play this version of the game, please enter the following into the address bar:</p>
<p>localhost:4567/game/</p>
<p>and then enter the choice for player 1 followed by a / and then the choice for player 2</p>
<p>For example:</p>
<p>localhost:4567/game/rock/paper</p>
<br>
<p>Enjoy!</p>
